/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */
body {
  padding: 2%;
  margin-left: 4%;
  margin-right: 4%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #efeee7;
  text-align: left;
}

header {
  padding: 2%;
  margin-top: 0;
  margin-bottom: 2%;
  margin-left: 3%;
  margin-right: 3%;
  background: #333;
  text-align: center;
}

h1 {
  padding: 2%;
  margin: 3%;
  font-size: 22px;
  color: #eee;
  text-align: center;
}

h2 {
  padding: 0;
  margin-bottom: 2%;
  margin-right: 4%;
  font-size: 22px;
  text-align: center;
}

a {
  color: #000000;

}


h3 {
  margin-top: 4%;
  margin-left: 5%;
  font-size: 20px;
  text-align: left;
}

a {
  color: #ff0000;
}


/* Selecting elements by class */
.container {
  width: 1024px;
  margin: 0 auto;
}

/* Selecting elements by ID */
#main-bio,
#contact-info,
#bio-image {
  float: left;
}

#figure {
  position: relative;
}

#bio-name {
  position: absolute;
  top: 260px;
  left: 0;
}

#main-bio {
  width: 65%;
}

#contact-info {
  width: 35%;
  
}

#bio-image {
  width: 250px;
  height: 250px;
  top: 20px;
  left: 0;
  margin-right: 20px;
}
