/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */
body {
  padding: 0;
  margin: 5%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #efeee7;
  text-align: center;
}

header {
  padding: 5%;
  margin: 0;
  background: #333;
  text-align: center;
}

h1 {
  padding: 5%;
  margin: 0;
  margin-top: 0;
  font-size: 24px;
  color: #eee;
  text-align: center;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 20px;
  text-align: center;
}

a {
  color: #000000;

}


h3 {
  margin-top: 10%;
  margin-bottom: 0;
  font-size: 20px;
  text-align: center;
}

a {
  color: #ffffff;
}


/* Selecting elements by class */
.container {
  width: 1024px;
  margin: 0 auto;
}

/* Selecting elements by ID */
#main-bio,
#contact-info,
#bio-image {
  float: left;
}

#figure {
  position: absolute;
  margin-top: 20%;
  margin-left: 0;
}

#bio-name {
  position: absolute;
  margin-top: 20%;
  margin-left: 0;
}

#main-bio {
  padding: 5%;
  width: 60%;
  margin-left: 10%
}

#contact-info {
  width: 40%;
  height: 200px;
  text-align: left;
}

#bio-image {
  position: absolute;
  width: 200px;
  height: 200px;
  margin-top: 20%;
  margin-left: 0;
}
